# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Tool specific
.pylint.d/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
